body {
    background-image: url("/assets/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 70px;
    font-family: "Times New Roman", Times, serif;
}

.jumbotron {
    position: relative;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    width: auto;
}

.panel {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lavenderblush;
}

.deleteNote {
    display: inline-block;
}

.previousNotes {
    display: inline-block;
    width: 90%
}
#scrape, #saved {
    margin: 8px 0px;
    margin-right: 5px;
}
#saved > a{
    color:white;
}
#homeTitle{
    background-color: deepskyblue;
    color: white;
}
